services:
  # ------------------------------------
  # Database
  # ------------------------------------
  postgres:
    image: postgres:18-alpine
    restart: always
    environment:
      POSTGRES_USER: ${DB_USER}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
      POSTGRES_DB: ${DB_NAME}
    ports:
      - "5432:5432"
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U $$POSTGRES_USER"]
      interval: 5s
      timeout: 5s
      retries: 5
    volumes:
      - postgres_data:/var/lib/postgresql/data

  # ------------------------------------
  # Database Migrator (Servicio Efímero)
  # ------------------------------------
  migrator:
    build:
      context: .
      dockerfile: Dockerfile
      target: build
    depends_on:
      postgres:
        condition: service_healthy
    environment:
      NODE_ENV: production
      DATABASE_URL: postgres://${DB_USER}:${DB_PASSWORD}@postgres:5432/${DB_NAME}
    env_file:
      - .env
    command: bun run db:migrate
    restart: 'no'

  # ------------------------------------
  # App
  # ------------------------------------
  app:
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "3000:3000"
    depends_on:
      migrator:
        condition: service_completed_successfully
    environment:
      DATABASE_URL: postgres://${DB_USER}:${DB_PASSWORD}@postgres:5432/${DB_NAME}
    env_file:
      - .env
    command: bun run .output/server/index.mjs

# ------------------------------------
# Volúmenes para persistencia
# ------------------------------------
volumes:
  postgres_data:
